<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>

<form th:action="@{/}" th:object="${clientForm}" method="post"> <!-- jelzi hogy ez a clientForm modell a clientscontrollerből-->
    <input th:field="*{name}" />
    <input th:field="*{balance}" />
    <button type="submit"> Create client </button>
</form>

<table>
    <tr th:each="client: ${clients}"> <!-- cilus végig a clients listán-->
        <td th:text="${client.id}">15</td>
        <td th:text="${client.name}">Gipsz Jakab</td>
        <td th:text="${client.balance}">800000</td>
    </tr>
</table>
</body>
</html>